div#storage-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 80vh;
  /* storage design showcase */
}
div#storage-container div#right-side {
  width: 80%;
}
div#storage-container div#storage-upload-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 800px) {
  div#storage-container div#storage-upload-div {
    flex-direction: column;
  }
}
div#storage-container div#storage-upload-div h1, div#storage-container div#storage-upload-div form {
  flex: 1;
}
@media screen and (max-width: 500px) {
  div#storage-container div#storage-upload-div h1 {
    font-size: 1.5em;
  }
}
div#storage-container div#storage-upload-div form input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
div#storage-container div#storage-upload-div form .file-label {
  font-size: 1em;
  color: white;
  background-color: #cb0000;
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
}
div#storage-container div#storage-upload-div form .file-label i {
  margin-right: 0.5rem;
}
div#storage-container div#designs-showcase {
  width: 100%;
}
@media screen and (max-width: 800px) {
  div#storage-container div#designs-showcase {
    max-width: 800px;
    width: 100%;
  }
}
div#storage-container div#designs-showcase div#design-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  div#storage-container div#designs-showcase div#design-container {
    flex-direction: column;
  }
}
div#storage-container div#designs-showcase div#design-container div {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  max-width: 250px;
  margin: 1%;
}
@media screen and (max-width: 800px) {
  div#storage-container div#designs-showcase div#design-container div {
    max-width: 80%;
    margin: 3%;
  }
}
div#storage-container div#designs-showcase div#design-container div img {
  width: 250px;
  min-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 800px) {
  div#storage-container div#designs-showcase div#design-container div img {
    width: 100%;
  }
}
div#storage-container div#designs-showcase div#design-container div video {
  width: 250px;
  height: 250px;
  border: none;
}
@media screen and (max-width: 800px) {
  div#storage-container div#designs-showcase div#design-container div video {
    width: 100%;
  }
}
div#storage-container div#designs-showcase div#design-container div a.delete-design-button {
  background-color: #cb0000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1rem 0rem;
  text-decoration: none;
}
div#storage-container div#designs-showcase div#design-container div a.download-design-button {
  background-color: #5b5bf6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1rem 0rem;
  text-decoration: none;
}
div#storage-container div#designs-showcase div#design-container div#no-upload-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 200px;
}
div#storage-container div#designs-showcase div#design-container div#no-upload-div i {
  font-size: 8rem;
}
div#storage-container div#designs-showcase div#design-container div#no-upload-div p {
  font-size: 3rem;
  text-align: center;
}

/*Storage delete modal*/
div#storage-delete-blackout {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.31);
  height: 100vh;
  width: 100vw;
  display: none;
}

div#storage-delete-modal {
  display: none;
  background: #fff;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 11;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1000px) {
  div#storage-delete-modal {
    width: 300px;
    height: 300px;
  }
}
div#storage-delete-modal a#storage-delete-modal-close-button {
  color: #000;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.5em;
  text-decoration: none;
}
div#storage-delete-modal div#storage-delete-modal-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
}
@media screen and (max-width: 1000px) {
  div#storage-delete-modal div#storage-delete-modal-content-div {
    height: 300px;
  }
}
div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-message-div {
  font-size: 1.5em;
  padding-bottom: 30px;
}
div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-buttons-div {
  display: flex;
}
div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-buttons-div a, div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-buttons-div button {
  text-decoration: none;
  display: inline-block;
  border: none;
  width: 150px;
  margin: 0px 24px;
  background-color: green;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-buttons-div a, div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-buttons-div button {
    width: 100px;
  }
}
div#storage-delete-modal div#storage-delete-modal-content-div div#storage-delete-modal-buttons-div a#storage-delete-decline {
  background-color: #cb0000;
}
