/* Commentaar edit form*/
div#comment-edit-form {
  width: 60%;
  margin: 5rem auto;
}
@media screen and (max-width: 800px) {
  div#comment-edit-form {
    width: 95%;
  }
}
div#comment-edit-form button#commenteditsubmit {
  width: 200px;
  height: 40px;
  border: 1px solid #cb0000;
  color: #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
div#comment-edit-form button#commenteditsubmit:hover {
  color: #fff;
  background-position: left;
  text-decoration: none;
}
div#comment-edit-form button#commenteditsubmit:focus {
  outline: none;
}

div#prev-page-div a {
  color: #fff;
  padding: 0.5rem;
  background-color: #cb0000;
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
}
