/* Guide container */
#guide-content-container h1 {
  margin-bottom: 1.5rem;
}
#guide-content-container h1:after {
  display: block;
  content: "";
  width: 3rem;
  height: 2px;
  background: #cb0000;
  bottom: 0;
  left: 0;
}
#guide-content-container div {
  width: 90%;
  margin-left: 10%;
}
#guide-content-container div h2, #guide-content-container div h3, #guide-content-container div h4 {
  margin: 1rem 0rem;
}
