header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* SMALL HEADER*/
  /*SMALL HEADER MENU*/
}
header div.search-bar-result-div {
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#tutorials-results div#tutorials-results-content-div a {
  width: 75%;
  color: #000;
}
header div#tutorials-results div#tutorials-results-content-div a:hover {
  text-decoration: none;
}
header div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item:hover {
  background-color: #e5e4e4;
}
header div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
header div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item p {
  flex: 3;
  margin-left: 5%;
}
header div#threads-results div#threads-results-content-div a {
  width: 75%;
  color: #000;
}
header div#threads-results div#threads-results-content-div a:hover {
  text-decoration: none;
}
header div#threads-results div#threads-results-content-div a div.threads-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#threads-results div#threads-results-content-div a div.threads-results-item:hover {
  background-color: #e5e4e4;
}
header div#threads-results div#threads-results-content-div a div.threads-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
header div#threads-results div#threads-results-content-div a div.threads-results-item p {
  flex: 3;
  margin-left: 5%;
}
header div#courses-results div#courses-results-content-div a {
  width: 75%;
  color: #000;
}
header div#courses-results div#courses-results-content-div a:hover {
  text-decoration: none;
}
header div#courses-results div#courses-results-content-div a div.courses-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#courses-results div#courses-results-content-div a div.courses-results-item:hover {
  background-color: #e5e4e4;
}
header div#courses-results div#courses-results-content-div a div.courses-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
header div#courses-results div#courses-results-content-div a div.courses-results-item p {
  flex: 3;
  margin-left: 5%;
}
header div#events-results div#events-results-content-div a {
  width: 75%;
  color: #000;
}
header div#events-results div#events-results-content-div a:hover {
  text-decoration: none;
}
header div#events-results div#events-results-content-div a div.events-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#events-results div#events-results-content-div a div.events-results-item:hover {
  background-color: #e5e4e4;
}
header div#events-results div#events-results-content-div a div.events-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
header div#events-results div#events-results-content-div a div.events-results-item p {
  flex: 3;
  margin-left: 5%;
}
header div#articles-results div#articles-results-content-div a {
  width: 75%;
  color: #000;
}
header div#articles-results div#articles-results-content-div a:hover {
  text-decoration: none;
}
header div#articles-results div#articles-results-content-div a div.articles-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#articles-results div#articles-results-content-div a div.articles-results-item:hover {
  background-color: #e5e4e4;
}
header div#articles-results div#articles-results-content-div a div.articles-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
header div#articles-results div#articles-results-content-div a div.articles-results-item p {
  flex: 3;
  margin-left: 5%;
}
header div#users-results div#users-results-content-div a {
  width: 75%;
  color: #000;
}
header div#users-results div#users-results-content-div a:hover {
  text-decoration: none;
}
header div#users-results div#users-results-content-div a div.users-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header div#users-results div#users-results-content-div a div.users-results-item:hover {
  background-color: #e5e4e4;
}
header div#users-results div#users-results-content-div a div.users-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
header div#users-results div#users-results-content-div a div.users-results-item div#user-info {
  flex: 3;
  margin-left: 5%;
}
header div#no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  font-size: 2em;
  text-align: center;
  color: lightgray;
}
header div#headerblackout-big, header div#headerblackout-small {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  display: none;
}
header #header-content-big {
  width: 100%;
  margin: 0px auto;
}
@media screen and (max-width: 1000px) {
  header #header-content-big {
    display: none;
  }
}
header #header-content-big #header-top-div {
  background-color: #222;
  box-sizing: border-box;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #header-content-big #header-top-div div#header-logo {
  margin-left: 50px;
  flex: 1;
}
header #header-content-big #header-top-div div#header-logo a img {
  min-width: 125px;
  margin-top: 20px;
}
header #header-content-big #header-top-div div#searchbar {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
header #header-content-big #header-top-div div#searchbar div.header-search-results-big {
  background-color: #fff;
  width: 90%;
  top: 110%;
  height: 300px;
  position: absolute;
  z-index: 4;
  display: none;
  overflow-y: auto;
}
header #header-content-big #header-top-div div#searchbar input {
  width: 90%;
  border-radius: 50px;
  border: none;
  height: 50px;
  padding-left: 30px;
  position: relative;
  z-index: 4;
  outline: none;
}
header #header-content-big #header-top-div div#links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 70px;
  width: 100%;
}
header #header-content-big #header-top-div div#links a {
  text-decoration: none;
  color: #fff;
}
header #header-content-big #header-top-div div#links p {
  text-align: right;
  margin-right: 30px;
  font-size: 12px;
  color: #fff;
}
header #header-content-big #header-top-div div#links p span {
  font-weight: bold;
}
header #header-content-big #header-top-div div#links div.dropdown {
  position: relative;
  display: inline-block;
}
header #header-content-big #header-top-div div#links div.dropdown:hover > .dropdown-content {
  display: block;
}
header #header-content-big #header-top-div div#links div.dropdown button.dropbtn {
  background: none;
  color: white;
  border: none;
}
header #header-content-big #header-top-div div#links div.dropdown button.dropbtn:focus {
  outline: none;
}
header #header-content-big #header-top-div div#links div.dropdown button.dropbtn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
header #header-content-big #header-top-div div#links div.dropdown button.dropbtn i {
  font-size: 2em;
}
header #header-content-big #header-top-div div#links div.dropdown div.dropdown-content {
  background-color: #fff;
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header #header-content-big #header-top-div div#links div.dropdown div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header #header-content-big #header-top-div div#links div.dropdown div.dropdown-content a:hover {
  background-color: #ddd;
}
header #header-content-big #header-lower-div {
  background-color: #b70000;
}
header #header-content-big #header-lower-div #header-lower-div-content {
  display: flex;
  width: 100%;
  padding: 2rem 0rem;
}
header #header-content-big #header-lower-div #header-lower-div-content div#auth-functions {
  flex: 4;
  display: flex;
  margin-left: 55px;
}
header #header-content-big #header-lower-div #header-lower-div-content div#auth-functions a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}
header #header-content-big #header-lower-div #header-lower-div-content div#auth-functions a + a {
  margin-left: 15px;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links {
  flex: 1;
  margin-right: 70px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div + div {
  margin-left: 30px;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown {
  position: relative;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown:hover > .dropdown-content {
  display: block;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown button.dropbtn {
  background: none;
  color: white;
  border: none;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown button.dropbtn:focus {
  outline: none;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown button.dropbtn i {
  font-size: 1em;
  margin-left: 2px;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown div.dropdown-content {
  background-color: #fff;
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header #header-content-big #header-lower-div #header-lower-div-content div#dropdown-links div.dropdown div.dropdown-content a:hover {
  background-color: #ddd;
}
header #header-content-small {
  display: none;
}
@media screen and (max-width: 1000px) {
  header #header-content-small {
    display: block;
  }
}
header #header-content-small #header-top-div {
  display: flex;
  color: #222;
  padding: 20px 0px;
}
header #header-content-small #header-top-div div#header-logo {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
header #header-content-small #header-top-div div#header-logo button {
  background: none;
  border: none;
  font-size: 2em;
}
header #header-content-small #header-top-div div#header-logo button:focus {
  outline: none;
}
header #header-content-small #header-top-div div#header-logo a {
  margin-left: 20px;
}
header #header-content-small #header-top-div div#header-logo a img {
  max-width: 200px;
  width: 100%;
  margin-top: 20px;
}
header #header-content-small #header-top-div div#links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 30px;
}
header #header-content-small #header-top-div div#links a {
  text-decoration: none;
  color: #222;
}
header #header-content-small #header-top-div div#links p {
  text-align: right;
  margin-right: 30px;
  margin-top: 15px;
  font-size: 12px;
  color: #222;
}
header #header-content-small #header-top-div div#links p span {
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  header #header-content-small #header-top-div div#links p {
    display: none;
  }
}
header #header-content-small #header-top-div div#links div.dropdown {
  position: relative;
  display: inline-block;
}
header #header-content-small #header-top-div div#links div.dropdown:hover > .dropdown-content {
  display: block;
}
header #header-content-small #header-top-div div#links div.dropdown button.dropbtn {
  background-color: #fff;
  color: #222;
  padding: 16px;
  border: none;
}
header #header-content-small #header-top-div div#links div.dropdown button.dropbtn:focus {
  outline: none;
}
header #header-content-small #header-top-div div#links div.dropdown button.dropbtn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
header #header-content-small #header-top-div div#links div.dropdown button.dropbtn i {
  font-size: 2em;
}
header #header-content-small #header-top-div div#links div.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header #header-content-small #header-top-div div#links div.dropdown div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header #header-content-small #header-top-div div#links div.dropdown div.dropdown-content a:hover {
  background-color: #ddd;
}
header #header-content-small #header-lower-div {
  background-color: #222;
  padding: 20px 0px;
}
header #header-content-small #header-lower-div div#searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 16px;
}
header #header-content-small #header-lower-div div#searchbar input {
  width: 90%;
  height: 50px;
  border-radius: 20px;
  padding-left: 30px;
}
header #header-content-small #header-lower-div div#searchbar input:focus {
  outline: none;
  position: relative;
  z-index: 4;
}
header #header-content-small #header-lower-div div#searchbar div.header-search-results-small {
  background-color: #fff;
  width: 90%;
  top: 110%;
  height: 300px;
  position: absolute;
  z-index: 4;
  display: none;
  overflow-y: auto;
}
@media screen and (max-width: 600px) {
  header #header-content-small #header-lower-div div#searchbar div.header-search-results-small {
    height: 200px;
  }
}
header #small-menu-blackout {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header #small-header-menu {
  position: fixed;
  z-index: 10;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #fff;
}
header #small-header-menu div#close-menu-div {
  text-align: right;
  padding: 1rem;
}
header #small-header-menu div#close-menu-div button#close-small-header-menu {
  background: none;
  border: none;
  font-size: 1.5em;
  transition: 0.3s;
}
header #small-header-menu div#close-menu-div button#close-small-header-menu:focus {
  outline: none;
}
header #small-header-menu div#close-menu-div button#close-small-header-menu:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: rotate(90deg);
}
header #small-header-menu ul {
  list-style-type: none;
  width: 80%;
  margin-left: 10%;
}
header #small-header-menu ul li h2 {
  position: relative;
  margin: 1rem 0rem;
}
header #small-header-menu ul li a {
  text-decoration: none;
  color: #cb0000;
  position: relative;
}
header #small-header-menu ul li a:after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 0%;
  background: #cb0000;
  transition: 0.5s;
}
header #small-header-menu ul li a:hover:after {
  width: 20px;
  transition: 0.5s;
}
header #small-header-menu ul li.menu-link {
  margin-left: 30px;
  margin-top: 15px;
}
