@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-anchor: none;
}

.resetpass-container #reset-form-div {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#url-route-button a:hover, #url-create-route-button a:hover {
  color: #cb0000;
  text-decoration: none;
}

button#wachtwoord-reset-button {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
button#wachtwoord-reset-button:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}

/* to top button */
div#mytotopbutton {
  position: fixed;
  display: none;
  z-index: 10;
  bottom: 0px;
  right: -35px;
  background: #cb0000;
  border-radius: 5px 0px 0px 5px;
  width: 75px;
  height: 75px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 0.7s;
  text-align: center;
}
@media screen and (max-width: 500px) {
  div#mytotopbutton {
    right: -15px;
    width: 50px;
    height: 50px;
  }
}
div#mytotopbutton:hover {
  right: 0px;
}
div#mytotopbutton:hover > #to-top-button {
  margin-left: 0px;
  pointer-events: auto;
}
@media screen and (max-width: 500px) {
  div#mytotopbutton:hover > #to-top-button {
    margin-left: -5px;
  }
}
div#mytotopbutton #to-top-button {
  border: none;
  background: none;
  outline: none;
  transition: 0.7s;
  margin-left: 15px;
  pointer-events: none;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  div#mytotopbutton #to-top-button {
    margin-left: 10px;
  }
}
div#mytotopbutton #to-top-button i {
  font-size: 3rem;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 500px) {
  div#mytotopbutton #to-top-button i {
    font-size: 2rem;
  }
}

/* Chat icon */
div#message-icon-div {
  position: fixed;
  right: -35px;
  bottom: 85px;
  z-index: 10;
  height: 75px;
  width: 75px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #b90000;
  border-radius: 4px 0px 0px 4px;
  transition: 0.7s;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  div#message-icon-div {
    right: -15px;
    height: 50px;
    width: 50px;
    bottom: 60px;
  }
}
div#message-icon-div:hover {
  right: 0px;
}
div#message-icon-div:hover > #link-div a {
  pointer-events: auto;
  margin-left: 0px;
}
@media screen and (max-width: 500px) {
  div#message-icon-div:hover > #link-div a {
    margin-left: -5px;
  }
}
div#message-icon-div div#count-div {
  position: absolute;
  left: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #b90000;
}
@media screen and (max-width: 500px) {
  div#message-icon-div div#count-div {
    left: -10px;
    top: -10px;
    height: 20px;
    width: 20px;
  }
}
div#message-icon-div div#link-div a {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  pointer-events: none;
  margin-left: 15px;
  transition: 0.7s;
}
@media screen and (max-width: 500px) {
  div#message-icon-div div#link-div a {
    font-size: 2rem;
    margin-left: 10px;
  }
}

/* Reset link niet meer geldig container*/
div#resetnotfound {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#resetnotfound div#card {
  width: 500px;
  background-color: #fff;
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid black;
  border-radius: 30px;
}
div#resetnotfound div#card div#not-found-title {
  background-color: #cb0000;
  border-radius: 30px 30px 0px 0px;
}
div#resetnotfound div#card div#not-found-title h1 {
  font-size: 1.5em;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}
div#resetnotfound div#card div#not-found-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  margin-left: 5%;
}
div#resetnotfound div#card div#found-title {
  background-color: #cb0000;
  border-radius: 30px 30px 0px 0px;
}
div#resetnotfound div#card div#found-title h1 {
  font-size: 1.5em;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}
div#resetnotfound div#card div#found-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  margin-left: 5%;
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#resetnotfound div#card div#found-content form {
  width: 100%;
}
div#resetnotfound div#card div#found-content form label {
  margin-bottom: 1rem;
}
div#resetnotfound div#card div#found-content form input[type=password] {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}
div#resetnotfound div#card div#found-content form input[type=password]:focus {
  outline: none;
}
div#resetnotfound div#card div#found-content form input[type=submit] {
  margin-top: 1rem;
  width: 50%;
  display: inline-block;
  width: 200px;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
div#resetnotfound div#card div#found-content form input[type=submit]:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}

/* Links*/
a {
  text-decoration: none;
  color: #cb0000;
}

/* general container*/
.general-container {
  width: 80%;
  margin: 2rem auto;
}

/* Clearfix*/
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Overview container*/
.overview-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  /* Button div*/
}
.overview-container div.general-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .overview-container div.general-button-div {
    flex-direction: column;
  }
}
.overview-container div.general-button-div div#url-route-button {
  flex: 9;
}
.overview-container div.general-button-div div#url-route-button p {
  color: #000;
}
.overview-container div.general-button-div div#url-route-button a, .overview-container div.general-button-div div#url-route-button span {
  color: #cb0000;
}
.overview-container div.general-button-div div#url-route-button a:hover {
  text-decoration: none;
}
.overview-container div.general-button-div div#add-button-div {
  flex: 1;
  min-height: 5vh;
  text-align: right;
}
.overview-container div.general-button-div div#add-button-div a {
  display: inline-block;
  width: 200px;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
.overview-container div.general-button-div div#add-button-div a:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}
.overview-container div.general-button-div div#edit-button-div {
  flex: 1;
  min-height: 5vh;
  text-align: right;
}
.overview-container div.general-button-div div#edit-button-div a {
  display: inline-block;
  width: 200px;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
.overview-container div.general-button-div div#edit-button-div a:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}
.overview-container div.general-button-div div#edit-button-div a#signed-in-true-button {
  color: green;
  border: 3px solid green;
  background: linear-gradient(to right, green 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
}
.overview-container .overview-content {
  min-height: 5vh;
}

/* Dashbord */
div#dasbord-container {
  display: flex;
  flex-direction: column;
  /*Dashboard event sign out modal*/
  /*Dashbord guide message*/
  /* Dashbord main div */
  /* Projects div */
  /* Dashbord event + cursus div */
}
div#dasbord-container div.event-sign-out-div {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
}
div#dasbord-container div.event-sign-out-modal {
  width: 400px;
  height: 400px;
  margin: 0px auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 11;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div.event-sign-out-modal {
    width: 300px;
    height: 300px;
  }
}
div#dasbord-container div.event-sign-out-modal a#event-sign-out-modal-close-button {
  color: #000;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.5em;
  text-decoration: none;
}
div#dasbord-container div.event-sign-out-modal div#event-sign-out-modal-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div.event-sign-out-modal div#event-sign-out-modal-content-div {
    height: 300px;
  }
}
div#dasbord-container div.event-sign-out-modal div#event-sign-out-modal-content-div div#event-sign-out-modal-message-div {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 30px;
  width: 90%;
}
div#dasbord-container div.event-sign-out-modal div#event-sign-out-modal-content-div div#event-sign-out-modal-buttons-div a {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  margin: 0px 24px;
  background-color: green;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div.event-sign-out-modal div#event-sign-out-modal-content-div div#event-sign-out-modal-buttons-div a {
    width: 100px;
  }
}
div#dasbord-container div.event-sign-out-modal div#event-sign-out-modal-content-div div#event-sign-out-modal-buttons-div a#event-sign-out-decline {
  background-color: #cb0000;
}
div#dasbord-container div#dashbord-sidebar-div {
  flex: 1;
  display: none;
  background-color: #cb0000;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div#dashbord-sidebar-div {
    margin-bottom: 3rem;
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  div#dasbord-container div#dashbord-sidebar-div {
    display: block;
    padding-top: 10px;
  }
}
div#dasbord-container div#dashbord-sidebar-div a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  flex: 1;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div#dashbord-sidebar-div a {
    flex: 1;
  }
}
@media screen and (max-width: 600px) {
  div#dasbord-container div#dashbord-sidebar-div a {
    float: left;
    margin-left: 1%;
    width: 24%;
  }
}
div#dasbord-container div#dashbord-sidebar-div a:hover {
  background-color: #930000;
}
div#dasbord-container div#dashbord-sidebar-div a div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div#dasbord-container div#dashbord-sidebar-div a div i {
  margin-top: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  div#dasbord-container div#dashbord-sidebar-div a div i {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
div#dasbord-container div#dashbord-sidebar-div a div p {
  margin-top: 5px;
}
@media screen and (max-width: 600px) {
  div#dasbord-container div#dashbord-sidebar-div a div p {
    font-size: 0.6rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
div#dasbord-container div#guide-message-div {
  position: fixed;
  bottom: 0;
  width: 20%;
  color: #fff;
  border-radius: 0px 20px 0px 0px;
  background-color: #cb0000;
  -webkit-animation: slideMe 0.7s ease-in;
          animation: slideMe 0.7s ease-in;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div#guide-message-div {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  div#dasbord-container div#guide-message-div {
    width: 60%;
  }
}
div#dasbord-container div#guide-message-div div#content-div {
  padding: 2rem 0rem;
  width: 75%;
  margin: 0px auto;
}
@media screen and (max-width: 500px) {
  div#dasbord-container div#guide-message-div div#content-div {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 80%;
  }
}
div#dasbord-container div#guide-message-div div#content-div p {
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  div#dasbord-container div#guide-message-div div#content-div p {
    font-size: 0.8em;
  }
}
div#dasbord-container div#guide-message-div div#content-div p a {
  color: #fff;
  text-decoration: underline;
}
div#dasbord-container div#guide-message-div a#no-show-button {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
@-webkit-keyframes slideMe {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
@keyframes slideMe {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
div#dasbord-container div#dashbord-main-div {
  flex: 9;
  min-height: 90vh;
}
@media screen and (max-width: 1024px) {
  div#dasbord-container div#dashbord-main-div {
    margin-bottom: 3rem;
  }
}
div#dasbord-container div#user-projects-div {
  margin-top: 2rem;
  width: 95%;
  margin-left: 2.5%;
}
div#dasbord-container div#user-projects-div h1 {
  margin-left: 2.5%;
}
div#dasbord-container div#user-projects-div a:hover {
  color: #cb0000;
}
div#dasbord-container div#user-projects-div a div.project-content-div {
  float: left;
  width: 11%;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0.5rem 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  min-height: 200px;
}
@media screen and (max-width: 600px) {
  div#dasbord-container div#user-projects-div a div.project-content-div {
    width: 90%;
    margin: 0rem 5%;
    min-height: 0px;
  }
}
div#dasbord-container div#user-projects-div a div.project-content-div div.project-logo-div {
  margin: 1rem 0rem;
}
div#dasbord-container div#user-projects-div a div.project-content-div div.project-logo-div i {
  font-size: 3rem;
}
div#dasbord-container div#user-projects-div a div.project-content-div div.project-title-div h4 {
  font-size: 1rem;
  text-align: center;
}
div#dasbord-container div#user-projects-div a.inactive-link {
  pointer-events: none;
  cursor: default;
  color: #afafaf;
}
div#dasbord-container div#dashbord-signup-div {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  div#dasbord-container div#dashbord-signup-div {
    flex-direction: column;
    justify-content: center;
  }
}
div#dasbord-container div#dashbord-signup-div div {
  flex: 1;
}
div#dasbord-container div#dashbord-signup-div div#course-div {
  padding-right: 20px;
}
div#dasbord-container div#dashbord-signup-div div#course-div h3 {
  margin-bottom: 2rem;
}
@media screen and (max-width: 500px) {
  div#dasbord-container div#dashbord-signup-div div#course-div h3 {
    font-size: 1.2rem;
  }
}
div#dasbord-container div#dashbord-signup-div div#course-div div.course-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
div#dasbord-container div#dashbord-signup-div div#course-div div.course-item a {
  flex: 5;
}
@media screen and (max-width: 500px) {
  div#dasbord-container div#dashbord-signup-div div#course-div div.course-item a {
    margin-left: 2rem;
  }
}
div#dasbord-container div#dashbord-signup-div div#course-div div.course-item a:hover {
  color: #cb0000;
  text-decoration: none;
}
div#dasbord-container div#dashbord-signup-div div#course-div div.course-item i {
  flex: 1;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  div#dasbord-container div#dashbord-signup-div div#event-div {
    margin-top: 3rem;
  }
}
div#dasbord-container div#dashbord-signup-div div#event-div h3 {
  margin-bottom: 2rem;
}
@media screen and (max-width: 500px) {
  div#dasbord-container div#dashbord-signup-div div#event-div h3 {
    font-size: 1.2rem;
  }
}
div#dasbord-container div#dashbord-signup-div div#event-div div.event-item {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 500px) {
  div#dasbord-container div#dashbord-signup-div div#event-div div.event-item p a {
    margin-left: 2rem;
  }
}
div#dasbord-container div#dashbord-signup-div div#event-div div.event-item p a:hover {
  color: #cb0000;
  text-decoration: none;
}
div#dasbord-container div#dashbord-signup-div div#event-div div.event-item p.signed-event-title {
  margin: 0px 10px;
  text-align: center;
  width: 60%;
}
@media screen and (max-width: 1200px) {
  div#dasbord-container div#dashbord-signup-div div#event-div div.event-item p.signed-event-title {
    width: 60%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    margin-right: 15px;
  }
}

/* Create button*/
div#url-create-route-button {
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
}
div#url-create-route-button p {
  color: #000;
}
div#url-create-route-button a, div#url-create-route-button span {
  color: #cb0000;
}

/*Delete modal op projects page*/
div#projects-delete-modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
div#projects-delete-modal div#delete-project-content {
  position: relative;
  background-color: #fff;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
}
@media screen and (max-width: 500px) {
  div#projects-delete-modal div#delete-project-content {
    height: 300px;
    width: 300px;
  }
}
div#projects-delete-modal div#delete-project-content div#project-modal-buttons {
  display: flex;
}
div#projects-delete-modal div#delete-project-content div#project-modal-buttons a {
  flex: 1;
  color: #fff;
  background-color: #cb0000;
  padding: 0.5rem;
  text-decoration: none;
}
div#projects-delete-modal div#delete-project-content div#project-modal-buttons a + a {
  margin-left: 2rem;
}
div#projects-delete-modal div#delete-project-content div#project-modal-buttons a#project-modal-confirm {
  background: green;
}
div#projects-delete-modal div#delete-project-content div {
  width: 90%;
  text-align: center;
}
div#projects-delete-modal div#delete-project-content div p {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

/* Projects page container */
div#user-project-container-div {
  min-height: 35vh;
}
@media screen and (max-width: 500px) {
  div#user-project-container-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
div#user-project-container-div div#project-list-div {
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 12.5%;
}
@media screen and (max-width: 500px) {
  div#user-project-container-div div#project-list-div {
    margin-left: 2.5%;
    width: 90%;
  }
}
div#user-project-container-div div#project-list-div div#project-item-labels {
  display: flex;
}
div#user-project-container-div div#project-list-div div#project-item-labels div#id-div {
  flex: 1;
}
div#user-project-container-div div#project-list-div div#project-item-labels div#title-div {
  flex: 5;
  margin-left: 1rem;
}
div#user-project-container-div div#project-list-div div#project-item-labels div#button-div {
  flex: 3;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
div#user-project-container-div div#project-list-div div#project-item-labels div#button-div p {
  flex: 1;
}
div#user-project-container-div div#project-list-div div.project-item-div {
  display: flex;
  margin: 1rem 0rem;
  border: 1px solid #afafaf;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  div#user-project-container-div div#project-list-div div.project-item-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
div#user-project-container-div div#project-list-div div.project-item-div div {
  padding: 1rem;
}
div#user-project-container-div div#project-list-div div.project-item-div div.id-div {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #afafaf;
}
@media screen and (max-width: 500px) {
  div#user-project-container-div div#project-list-div div.project-item-div div.id-div {
    border: none;
  }
}
div#user-project-container-div div#project-list-div div.project-item-div div.title-div {
  flex: 5;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  border-right: 1px solid #afafaf;
}
@media screen and (max-width: 500px) {
  div#user-project-container-div div#project-list-div div.project-item-div div.title-div {
    border: none;
  }
}
div#user-project-container-div div#project-list-div div.project-item-div div.button-div {
  flex: 3;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
div#user-project-container-div div#project-list-div div.project-item-div div.button-div a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  div#user-project-container-div div#project-list-div div.project-item-div div.button-div a {
    margin: 0rem 1rem;
  }
}
div#user-project-container-div div#project-list-div div.project-item-div div.button-div a:hover {
  text-decoration: none;
}
div#user-project-container-div div#project-list-div div.project-item-div div.button-div a.detail-button {
  color: blue;
}
div#user-project-container-div div#project-list-div div.project-item-div div.button-div a.edit-button {
  color: orange;
}
div#user-project-container-div div#project-list-div div.project-item-div div.button-div a.delete-project-button {
  color: #cb0000;
}

/* Profiel container */
div#profile-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* Profiel info*/
}
@media screen and (max-width: 1024px) {
  div#profile-container {
    flex-direction: column;
  }
}
div#profile-container div#left-side {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
div#profile-container div#left-side a {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
div#profile-container div#left-side a:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}
div#profile-container div#left-side iframe {
  width: 80%;
  margin: 1rem 0rem;
}
div#profile-container div#left-side img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 2rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
}
div#profile-container div#left-side div.info-div {
  width: 80%;
  text-align: left;
}
div#profile-container div#left-side div.info-div p.label-p {
  margin-top: 0.5rem;
  font-style: italic;
  color: #afafaf;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 0.5rem;
}
div#profile-container div#left-side div.info-div p.user-p {
  margin-left: 0.5rem;
}

/* Detail button div*/
#detail-button-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 2rem;
}
#detail-button-div div.general-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  #detail-button-div div.general-button-div {
    flex-direction: column;
  }
}
#detail-button-div div.general-button-div div#url-route-button {
  flex: 9;
}
#detail-button-div div.general-button-div div#url-route-button p {
  color: #000;
}
#detail-button-div div.general-button-div div#url-route-button a, #detail-button-div div.general-button-div div#url-route-button span {
  color: #cb0000;
}
#detail-button-div div.general-button-div div#add-button-div {
  flex: 1;
  min-height: 5vh;
  text-align: right;
}
#detail-button-div div.general-button-div div#add-button-div a {
  display: inline-block;
  width: 200px;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
#detail-button-div div.general-button-div div#add-button-div a:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}
#detail-button-div div.general-button-div div#edit-button-div {
  flex: 1;
  min-height: 5vh;
  text-align: right;
}
#detail-button-div div.general-button-div div#edit-button-div a {
  display: inline-block;
  width: 200px;
  color: #cb0000;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem 0rem;
  border: 3px solid #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
#detail-button-div div.general-button-div div#edit-button-div a:hover {
  text-decoration: none;
  background-position: left;
  color: #fff;
}

/* Article edit main image*/
#article-edit-main-image {
  width: 100%;
}

/* User edit main image*/
#user-edit-main-image {
  width: 100%;
}

/*Searchbar*/
#search-sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 5;
}
#search-sidebar div#search-blackout {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
#search-sidebar div#left-side {
  height: 100vh;
  background-color: #fff;
  width: 350px;
  position: absolute;
  z-index: 20;
  top: 0;
  overflow: auto;
}
@media screen and (max-width: 400px) {
  #search-sidebar div#left-side {
    width: 300px;
  }
}
#search-sidebar div#left-side a#close_searchbar_button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 95%;
  margin-left: 2.5%;
  text-align: right;
  color: #000;
  margin-top: 1rem;
  text-decoration: none;
}
#search-sidebar div#left-side h3 {
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
  text-align: center;
}
#search-sidebar div#left-side #searchbar {
  margin-top: 1rem;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-sidebar div#left-side #searchbar input {
  flex: 3;
  margin-right: 1rem;
  height: 2rem;
  color: #afafaf;
  padding-left: 1rem;
}
#search-sidebar div#left-side #searchbar input:focus {
  outline: none;
}
@media screen and (max-width: 400px) {
  #search-sidebar div#left-side #searchbar input {
    font-size: 0.5rem;
  }
}
#search-sidebar div#left-side div#searchbar-results div.search-bar-result-div {
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#tutorials-results div#tutorials-results-content-div a {
  width: 75%;
  color: #000;
}
#search-sidebar div#left-side div#searchbar-results div#tutorials-results div#tutorials-results-content-div a:hover {
  text-decoration: none;
}
#search-sidebar div#left-side div#searchbar-results div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item:hover {
  background-color: #e5e4e4;
}
#search-sidebar div#left-side div#searchbar-results div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
#search-sidebar div#left-side div#searchbar-results div#tutorials-results div#tutorials-results-content-div a div.tutorials-results-item p {
  flex: 3;
  margin-left: 5%;
}
#search-sidebar div#left-side div#searchbar-results div#threads-results div#threads-results-content-div a {
  width: 75%;
  color: #000;
}
#search-sidebar div#left-side div#searchbar-results div#threads-results div#threads-results-content-div a:hover {
  text-decoration: none;
}
#search-sidebar div#left-side div#searchbar-results div#threads-results div#threads-results-content-div a div.threads-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#threads-results div#threads-results-content-div a div.threads-results-item:hover {
  background-color: #e5e4e4;
}
#search-sidebar div#left-side div#searchbar-results div#threads-results div#threads-results-content-div a div.threads-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
#search-sidebar div#left-side div#searchbar-results div#threads-results div#threads-results-content-div a div.threads-results-item p {
  flex: 3;
  margin-left: 5%;
}
#search-sidebar div#left-side div#searchbar-results div#courses-results div#courses-results-content-div a {
  width: 75%;
  color: #000;
}
#search-sidebar div#left-side div#searchbar-results div#courses-results div#courses-results-content-div a:hover {
  text-decoration: none;
}
#search-sidebar div#left-side div#searchbar-results div#courses-results div#courses-results-content-div a div.courses-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#courses-results div#courses-results-content-div a div.courses-results-item:hover {
  background-color: #e5e4e4;
}
#search-sidebar div#left-side div#searchbar-results div#courses-results div#courses-results-content-div a div.courses-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
#search-sidebar div#left-side div#searchbar-results div#courses-results div#courses-results-content-div a div.courses-results-item p {
  flex: 3;
  margin-left: 5%;
}
#search-sidebar div#left-side div#searchbar-results div#events-results div#events-results-content-div a {
  width: 75%;
  color: #000;
}
#search-sidebar div#left-side div#searchbar-results div#events-results div#events-results-content-div a:hover {
  text-decoration: none;
}
#search-sidebar div#left-side div#searchbar-results div#events-results div#events-results-content-div a div.events-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#events-results div#events-results-content-div a div.events-results-item:hover {
  background-color: #e5e4e4;
}
#search-sidebar div#left-side div#searchbar-results div#events-results div#events-results-content-div a div.events-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
#search-sidebar div#left-side div#searchbar-results div#events-results div#events-results-content-div a div.events-results-item p {
  flex: 3;
  margin-left: 5%;
}
#search-sidebar div#left-side div#searchbar-results div#articles-results div#articles-results-content-div a {
  width: 75%;
  color: #000;
}
#search-sidebar div#left-side div#searchbar-results div#articles-results div#articles-results-content-div a:hover {
  text-decoration: none;
}
#search-sidebar div#left-side div#searchbar-results div#articles-results div#articles-results-content-div a div.articles-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#articles-results div#articles-results-content-div a div.articles-results-item:hover {
  background-color: #e5e4e4;
}
#search-sidebar div#left-side div#searchbar-results div#articles-results div#articles-results-content-div a div.articles-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
#search-sidebar div#left-side div#searchbar-results div#articles-results div#articles-results-content-div a div.articles-results-item p {
  flex: 3;
  margin-left: 5%;
}
#search-sidebar div#left-side div#searchbar-results div#users-results div#users-results-content-div a {
  width: 75%;
  color: #000;
}
#search-sidebar div#left-side div#searchbar-results div#users-results div#users-results-content-div a:hover {
  text-decoration: none;
}
#search-sidebar div#left-side div#searchbar-results div#users-results div#users-results-content-div a div.users-results-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#search-sidebar div#left-side div#searchbar-results div#users-results div#users-results-content-div a div.users-results-item:hover {
  background-color: #e5e4e4;
}
#search-sidebar div#left-side div#searchbar-results div#users-results div#users-results-content-div a div.users-results-item i {
  flex: 1;
  margin-left: 5%;
  font-size: 2rem;
}
#search-sidebar div#left-side div#searchbar-results div#users-results div#users-results-content-div a div.users-results-item div#user-info {
  flex: 3;
  margin-left: 5%;
}
#search-sidebar div#left-side div#searchbar-results div#no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: 0%;
  font-size: 2em;
  text-align: center;
  color: lightgray;
}

/* Kalender return button*/
#calender-return-button {
  text-decoration: none;
}
#calender-return-button:hover {
  color: #cb0000;
}

/* Notes return button*/
#notes-return-button {
  text-decoration: none;
}
#notes-return-button:hover {
  color: #cb0000;
}

div#admin-delete-blackout {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.31);
  height: 100vh;
  width: 100vw;
  display: none;
}

div#admin-delete-modal {
  display: none;
  background: #fff;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 11;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1000px) {
  div#admin-delete-modal {
    width: 300px;
    height: 300px;
  }
}
div#admin-delete-modal a#admin-delete-modal-close-button {
  color: #000;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.5em;
  text-decoration: none;
}
div#admin-delete-modal div#admin-delete-modal-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
@media screen and (max-width: 1000px) {
  div#admin-delete-modal div#admin-delete-modal-content-div {
    height: 300px;
  }
}
div#admin-delete-modal div#admin-delete-modal-content-div div#admin-delete-modal-message-div {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 30px;
}
div#admin-delete-modal div#admin-delete-modal-content-div div#admin-delete-modal-buttons-div a {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  margin: 0px 24px;
  background-color: green;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  div#admin-delete-modal div#admin-delete-modal-content-div div#admin-delete-modal-buttons-div a {
    width: 100px;
  }
}
div#admin-delete-modal div#admin-delete-modal-content-div div#admin-delete-modal-buttons-div a#admin-delete-decline {
  background-color: #cb0000;
}

/* Admin dashbord div */
div#admin-dashbord {
  min-height: 38vh;
  display: flex;
  /* Sidebar */
  /* Main div */
}
@media screen and (max-width: 1000px) {
  div#admin-dashbord {
    flex-direction: column;
  }
}
div#admin-dashbord div#dashbord-sidebar-div {
  flex: 1;
  background-color: #cb0000;
}
@media screen and (max-width: 1000px) {
  div#admin-dashbord div#dashbord-sidebar-div {
    display: flex;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-sidebar-div {
    flex-direction: column;
    display: none;
  }
}
div#admin-dashbord div#dashbord-sidebar-div a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  div#admin-dashbord div#dashbord-sidebar-div a {
    flex: 1;
  }
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-sidebar-div a {
    font-size: 0.5rem;
  }
}
div#admin-dashbord div#dashbord-sidebar-div a:hover {
  background-color: #930000;
}
div#admin-dashbord div#dashbord-sidebar-div a div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div#admin-dashbord div#dashbord-sidebar-div a div i {
  margin-top: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-sidebar-div a div i {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
div#admin-dashbord div#dashbord-sidebar-div a div p {
  margin-top: 5px;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-sidebar-div a div p {
    font-size: 0.6rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
div#admin-dashbord div#dashbord-main-div {
  flex: 9;
  min-height: 90vh;
}
@media screen and (max-width: 1024px) {
  div#admin-dashbord div#dashbord-main-div {
    margin-bottom: 3rem;
  }
}
div#admin-dashbord div#dashbord-main-div div#content-head {
  width: 60%;
  margin-left: 20%;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div#content-head {
    width: 95%;
    margin-left: 2.5%;
  }
}
div#admin-dashbord div#dashbord-main-div div#content-head input {
  height: 2rem;
  width: 50%;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div#content-head input {
    width: 100%;
  }
}
div#admin-dashbord div#dashbord-main-div div#search-content-result {
  width: 60%;
  margin-left: 20%;
  margin-top: 3rem;
  display: none;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div#search-content-result {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3rem;
    font-size: 0.5rem;
  }
}
div#admin-dashbord div#dashbord-main-div div#admin-content-table {
  width: 60%;
  margin-left: 20%;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div#admin-content-table {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3rem;
    font-size: 0.5rem;
  }
}
div#admin-dashbord div#dashbord-main-div div.content-item {
  margin-top: 3rem;
}
div#admin-dashbord div#dashbord-main-div div.content-item td#comment-content img {
  max-width: 200px;
  height: 200px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
div#admin-dashbord div#dashbord-main-div div.content-item h4 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div.content-item h4 {
    font-size: 1rem;
  }
}
div#admin-dashbord div#dashbord-main-div div.content-item table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5rem;
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody {
  font-size: 11px;
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr {
  width: 100%;
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(1) {
  width: 30%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(1) {
    width: 10%;
  }
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(2) {
  width: 30%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@media screen and (max-width: 600px) {
  div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(2) {
    width: 40%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(3), div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(4), div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(5) {
  width: 10%;
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(3) a i {
  color: #5b5bf6;
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(4) a i {
  color: orange;
}
div#admin-dashbord div#dashbord-main-div div.content-item table tbody tr td:nth-of-type(5) a i {
  color: #cb0000;
}

ul.pagination .page-link {
  color: #b90000;
}
ul.pagination .activePage > span {
  background-color: #b90000;
  color: #fff;
  border-color: #b90000;
}

.form-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Documents page */
#documents-div {
  min-height: 50vh;
}
#documents-div #file-div {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}
#documents-div #file-div ul {
  list-style: none;
}
#documents-div #file-div ul li {
  text-decoration: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
