/* Discussie overview div */
div.thread-overview-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  min-height: 60vh;
}
@media screen and (max-width: 675px) {
  div.thread-overview-content {
    padding-top: 0rem;
  }
}
div.thread-overview-content div.single-thread {
  border-bottom: 1px solid #afafaf;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
@media screen and (max-width: 675px) {
  div.thread-overview-content div.single-thread {
    max-width: 600px;
    width: 90%;
    margin: 0;
    flex-direction: column;
    margin-top: 1rem;
    border-bottom: 1px solid #afafaf;
  }
}
div.thread-overview-content div.single-thread div.author-div {
  flex: 1;
  text-align: center;
}
div.thread-overview-content div.single-thread div.author-div i {
  font-size: 4rem;
}
div.thread-overview-content div.single-thread div.author-div img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.thread-overview-content div.single-thread div.info-div {
  flex: 6;
  width: 100%;
}
@media screen and (max-width: 675px) {
  div.thread-overview-content div.single-thread div.info-div {
    text-align: center;
  }
}
div.thread-overview-content div.single-thread div.info-div a {
  text-decoration: none;
  color: #cb0000;
}
div.thread-overview-content div.single-thread div.info-div .thread-overview-text {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 675px) {
  div.thread-overview-content div.single-thread div.info-div .thread-overview-text {
    width: auto;
  }
}
div.thread-overview-content div.single-thread div.info-div .thread-overview-text p, div.thread-overview-content div.single-thread div.info-div .thread-overview-text strong, div.thread-overview-content div.single-thread div.info-div .thread-overview-text em, div.thread-overview-content div.single-thread div.info-div .thread-overview-text blockquote, div.thread-overview-content div.single-thread div.info-div .thread-overview-text q {
  display: inline;
}
div.thread-overview-content div.single-thread div.info-div .thread-overview-text img {
  display: none;
}
div.thread-overview-content div.single-thread div.extra-info-div {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 675px) {
  div.thread-overview-content div.single-thread div.extra-info-div {
    margin-top: 20px;
  }
}
div.thread-overview-content div.single-thread div.extra-info-div p i {
  margin-left: 2px;
}
div.thread-overview-content div.single-thread div.extra-info-div p + p {
  margin-left: 20px;
}

/* Detail Heading */
div#thread-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb0000;
  padding: 1.5rem 3rem;
  margin-bottom: 5rem;
  box-shadow: 0px 15px 22px 9px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 600px) {
  div#thread-heading {
    flex-direction: column;
  }
}
div#thread-heading div#user-image {
  flex: 1;
}
div#thread-heading div#user-image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 800px) {
  div#thread-heading div#user-image img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  div#thread-heading div#user-image img {
    margin-bottom: 2rem;
    width: 150px;
    height: 150px;
  }
}
div#thread-heading div#user-image i {
  width: 200px;
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border-radius: 50%;
  color: #cb0000;
}
@media screen and (max-width: 800px) {
  div#thread-heading div#user-image i {
    width: 100px;
    height: 100px;
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  div#thread-heading div#user-image i {
    margin-bottom: 2rem;
    width: 150px;
    height: 150px;
  }
}
div#thread-heading div#small-info {
  flex: 6;
  color: #fff;
  padding-left: 12.5%;
}
@media screen and (max-width: 600px) {
  div#thread-heading div#small-info {
    padding-left: 0%;
  }
}
div#thread-heading div#small-info h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 800px) {
  div#thread-heading div#small-info h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
div#thread-heading div#small-info p {
  font-size: 1rem;
  text-align: left;
}
div#thread-heading div#like {
  flex: 1;
}
div#thread-heading div#like i {
  font-size: 5rem;
  color: #fff;
}
@media screen and (max-width: 800px) {
  div#thread-heading div#like i {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  div#thread-heading div#like i {
    margin-top: 2rem;
  }
}

/* thread detail*/
div.thread-general-container {
  width: 80%;
  margin: 0px auto;
}
@media screen and (max-width: 800px) {
  div.thread-general-container {
    width: 95%;
  }
}
div.thread-general-container div.thread-blackout-div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 11;
}
div.thread-general-container div.delete-comment-modal {
  width: 400px;
  height: 400px;
  margin: 0px auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 11;
}
@media screen and (max-width: 1000px) {
  div.thread-general-container div.delete-comment-modal {
    width: 300px;
    height: 300px;
  }
}
div.thread-general-container div.delete-comment-modal a#comment-delete-modal-close-button {
  color: #000;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.5em;
  text-decoration: none;
}
div.thread-general-container div.delete-comment-modal div#comment-delete-modal-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
@media screen and (max-width: 1000px) {
  div.thread-general-container div.delete-comment-modal div#comment-delete-modal-content-div {
    height: 300px;
  }
}
div.thread-general-container div.delete-comment-modal div#comment-delete-modal-content-div div#comment-delete-modal-message-div {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 30px;
}
div.thread-general-container div.delete-comment-modal div#comment-delete-modal-content-div div#comment-delete-modal-buttons-div a {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  margin: 0px 24px;
  background-color: green;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  div.thread-general-container div.delete-comment-modal div#comment-delete-modal-content-div div#comment-delete-modal-buttons-div a {
    width: 100px;
  }
}
div.thread-general-container div.delete-comment-modal div#comment-delete-modal-content-div div#comment-delete-modal-buttons-div a#comment-delete-decline {
  background-color: #cb0000;
}
div.thread-general-container div#thread-question-info {
  width: 75%;
  padding-top: 50px;
  margin: 0px auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
@media screen and (max-width: 800px) {
  div.thread-general-container div#thread-question-info {
    max-width: 80%;
  }
}
div.thread-general-container div#thread-comment-div {
  width: 75%;
  margin: 5rem auto;
}
@media screen and (max-width: 800px) {
  div.thread-general-container div#thread-comment-div {
    width: 80%;
  }
}
div.thread-general-container div#thread-comment-div h3 {
  margin-bottom: 3rem;
}
div.thread-general-container div#thread-comment-div div.comment {
  border-bottom: 1px solid #afafaf;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
div.thread-general-container div#thread-comment-div div.comment div#content {
  flex: 4;
}
div.thread-general-container div#thread-comment-div div.comment div#content img {
  max-width: 200px;
  height: 200px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
div.thread-general-container div#thread-comment-div div.comment div#content p#comment-user {
  font-size: 0.8em;
  font-style: italic;
}
div.thread-general-container div#thread-comment-div div.comment div#buttons {
  flex: 1;
  display: flex;
  text-align: center;
}
div.thread-general-container div#thread-comment-div div.comment div#buttons a {
  flex: 1;
  padding: 0.3rem;
}
div.thread-general-container div#thread-comment-div div.comment div#buttons a i {
  font-size: 1em;
  color: #fff;
}
div.thread-general-container div#thread-comment-div div.comment div#buttons a + a {
  margin-left: 10px;
}
div.thread-general-container div#thread-comment-div div.comment div#buttons a#edit-button {
  background-color: orange;
}
div.thread-general-container div#thread-comment-div div.comment div#buttons a#delete-button {
  background-color: #cb0000;
}
div.thread-general-container div#comment-form-div {
  margin-top: 3rem;
}
div.thread-general-container div#comment-form-div form {
  margin: 0px auto;
  width: 75%;
}
@media screen and (max-width: 800px) {
  div.thread-general-container div#comment-form-div form {
    width: 80%;
  }
}
div.thread-general-container div#comment-form-div button#commentsubmit {
  width: 200px;
  height: 40px;
  border: 1px solid #cb0000;
  color: #cb0000;
  background: linear-gradient(to right, #cb0000 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 300% 100%;
  background-position: right;
  transition: all 0.6s ease-in-out;
}
div.thread-general-container div#comment-form-div button#commentsubmit:focus {
  outline: none;
}
@media screen and (max-width: 800px) {
  div.thread-general-container div#comment-form-div button#commentsubmit {
    width: 80%;
  }
}
