/* Contact inhoud*/
#contact-content{
    width:90%;
    margin:0px auto;
    #contact-info{
        text-align:center;
        margin-top:3rem;
    }
    /* Contact formulier */
    #contact-form-container{
        display:flex;
        margin-top:3rem;
        margin-bottom:3rem;
        @media screen and (max-width: 750px    ) {
           flex-direction:column;
        }
        #form-info{
            flex:2;
            form{
                label{
                    margin-top:1rem;

                    display: block;
                }
                input{
                    height: 40px;
                    width: 100%;
                    margin-bottom:1rem;
                    &:focus{
                        outline: none;
                    }
                }
                #first-name-div,
                #last-name-div{
                    width:45%;
                    margin-left:2.5%;
                    margin-right:2.5%;
                    float:left;
                }
                #subject-div, #button-div{
                    width:95%;
                    margin-left:2.5%;
                    margin-top:1rem;
                    button{
                       width:20%;
                       height: 40px;
                       border:1px solid rgb(203,0,0);
                       color:rgb(203,0,0);
                       background: linear-gradient(to right, rgb(203,0,0) 50%, rgba(0,0,0,0) 50%);
                       background-size: 300% 100%;
                       background-position: right ;
                       transition: all .6s ease-in-out;
                       text-decoration: none;
                        @media screen and (max-width: 750px    ) {
                            width:100%;

                        }
                       &:hover{
                          color:#fff;
                          background-position: left ;
                          text-decoration: none;
                       }
                       &:focus{
                        outline:none;
                    }
                    }
                }
                #message-div{
                    
                    width:95%;
                    margin-left:2.5%;
                    margin-top:1rem;  
                    textarea{
                        resize:none;
                        width: 100%;
                        height:100px;
                        &:focus{
                            outline:none;
                        }
                    }  
                } 
            }
           
        }
        /* Bedrijf info */
        #busines-info{
            flex:1;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 750px    ) {
                margin-top:3rem;
            }
            div{
                text-align: center;
                flex:1;
                font-size:1.2rem;
                @media screen and (max-width: 750px    ) {
                    margin-top:3rem;
                    margin-bottom:3rem;
                 }
                i{
                    font-size:3rem;
                    margin-bottom:1rem;
                }
            }

        }
    }
}
