// AUTH FORMS
div#auth-form-container{
    max-width:400px;
    margin:0px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    margin-bottom:5rem;
    -webkit-box-shadow: 0px 20px 47px -4px rgba(0,0,0,0.5); 
    box-shadow: 0px 20px 47px -4px rgba(0,0,0,0.5);
    border-radius:30px;
    @media screen and (max-width: 400px    ) {
        max-width:300px;
    }
    div#top-form-div{
        border-radius:30px 30px 0px 0px;
        background: rgb(203,0,0);
        background: linear-gradient(135deg, rgba(203,0,0,1) 0%, rgba(255,206,0,1) 100%);    
        width:100%;
        flex:1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #top-form-image-div{
           margin-top:2rem;
           flex:1;
           img{
               width:80%;
               margin-left:10%;
           }
        }
        p{
            flex:1;
            margin-top:2rem;
            margin-bottom:1rem;
            color:#fff;
        }
    }
    div#lower-form-div{
        padding-top:3rem;
        width:100%;
        flex:1;
        border-radius:0px 0px 30px 30px;
        form{
            div{
                input{
                    margin-bottom:2rem;
            
                }
                input.effect-input{
                    width:100%;
                    height: 1.5rem;
                    border:0px;
                    border-bottom:2px solid black;
                    transition: .5s ease-in-out;
                    &:focus{
                        outline:none;
                        border-bottom:2px solid rgb(203,0,0);
                    }
                }
               
                
            }
            div.control-div{
                width:80%;
                margin-left:10%;
            }
            div#submit-button-div{
                margin-bottom:1rem;
                text-align:center;
                button{
                    width:100%;
                    padding:.5rem;
                    border:none;
                    background-color:rgb(203,0,0);
                    color:#fff;
                    border-radius:30px;    
                }
            }
           div#forgot-pass-div{
               margin-bottom:2rem;
               text-align:center;
               a{
                   &:hover{
                       text-decoration: none;
                       color:rgb(203,0,0);
                   }
               }
           }
           div#sign-up-div{
                margin-bottom:1rem;
                text-align:center;
                a{
                    &:hover{
                        text-decoration: none;
                        color:rgb(203,0,0);
                    }
                }
            }
            div.option-div{
                margin-bottom:3rem;
                label{
                    margin-bottom:1rem;

                }
                div{
                   text-align: center;
                    width:50%;
                    float:left;
                }
            }
        }
    }
}

// CRUD FORMS

div#crud-form-div{
    width:1000px;
    margin:2rem auto;
    margin-bottom: 10rem;
    position: relative;
    @media screen and (max-width: 1000px    ) {
        width:80%;
        margin-left:10%;
    }
    @media screen and (max-width: 600px    ) {
        width:80%;
        margin-left:5%;
    }
   
    div#form-div{
        top:5rem;
        left:3rem;
        width:100%;
        min-height: 60vh;
        position: relative;
        background-color: #fff;
        -webkit-box-shadow: 0px 20px 47px -4px rgba(0,0,0,0.5); 
        box-shadow: 0px 20px 47px -4px rgba(0,0,0,0.5);
        border-radius: 30px;
        @media screen and (max-width: 400px    ) {
            left:1rem;
            width:100%;
           }
        form{
            box-sizing: border-box;
            padding:1rem;
            width:80%;
            margin-left:10%;
            padding-top:5rem;
            @media screen and (max-width: 1000px    ) {
                padding:.5rem;
                padding-top:5rem;
               }
            @media screen and (max-width: 400px    ) {
            width:100%;
            margin-left:0%;
            }
            div#tutorial-date-div{
                display:block;
                width:100%;
                padding-bottom:4rem;
                div{
                    float:left;
                    max-width: 45%;
                    margin:0% 2.5%;
                    input{
                        width:100%;
                    }
                }
            }
            div#tutorial-file-div{
                display:none;
            }
            div#tutorial-written-div{
                display:none;
            }
            div{
                // width: 100%;
                // display: block;
                // margin-bottom:4rem;
                label{
                    display: block;
                }
                textarea{
                   
                    &:focus{
                        outline:none;
                    }
                }
                
                input[type=text], input[type=number]{
                    width:100%;
                    height: 1.5rem;
                    border:0px;
                    border-bottom:2px solid black;
                    transition: .5s ease-in-out;
                    &:focus{
                        outline:none;
                        border-bottom:2px solid rgb(203,0,0);
                    }
                }
                input[type=file]{
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                .file-label{
                    font-size: 1em;
                    color: white;
                    background-color: rgb(203,0,0);
                    width:10rem;
                    padding:.5rem;
                    text-align: center;
                    i{
                        margin-right:.5rem;
                    }
                }
                button#submit{
                    width:100%;
                    padding:.5rem;
                    border:none;
                    background-color:rgb(203,0,0);
                    color:#fff;
                    border-radius:30px;    
                }
            }
            div#date-div{
                div{
                    float:left;
                    width:45%;
                    input{
                        width:100%;
                    }
                }
                div + div{
                    margin-left:10%;
                }
            }
            div#time-div{
                div{
                    float:left;
                    width:45%;
                    @media screen and (max-width: 600px    ) {
                        width:100%;
                        margin-bottom: 2rem;
                    }
                    input{
                        width:100%;
                    }
                }
                div + div{
                    margin-left:10%;
                    @media screen and (max-width: 600px    ) {
                        margin-left:0%;
                        
                    }
                }
                select.time-select {
                    width: 100px;
                    padding: 5px 35px 5px 5px;
                    font-size: 16px;
                    border:none;
                    height: 34px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color:rgb(203,0,0);
                    color:#fff;
                    @media screen and (max-width: 800px    ) {
                        width: 75px;
                    }
                  }
                  
                  
                  /* CAUTION: Internet Explorer hackery ahead */
                  select.time-select::-ms-expand {
                      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
                  }
            }
            div#tutorial-content-type-div{
                margin-bottom: 0rem;
                div{
                    float:left;
                    width:33%;
                    label{
                        display:inline;
                    }
                }
            }
             div#tutorial-type-div{
                 margin-bottom: 0rem;
                div{
                    float:left;
                    width:33%;
                    label{
                        display:inline;
                    }
                }
            }
        }
    }
    /* Background div */
    div#background-div{
        width:100%;
        background: rgb(203,0,0);
        background: linear-gradient(135deg, rgb(255, 187, 0) 0%, rgba(203,0,0,1) 75%);  
        height: 100%;
        position: absolute;
        border-radius: 30px;
        h3{
            margin-left:50px;
            margin-top:25px;
            color: #fff;
            font-size:1.5em;
        }
    }
}

// edit profiel
div#user-edit-form-div{
    max-width:400px;
    margin:0px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    margin-bottom:5rem;
    -webkit-box-shadow: 0px 20px 47px -4px rgba(0,0,0,0.5); 
    box-shadow: 0px 20px 47px -4px rgba(0,0,0,0.5);
    border-radius:30px;
    @media screen and (max-width: 400px    ) {
        width:300px;
        margin:0px auto;
        margin-bottom:1rem;
        }
    div#top-form-div{
        border-radius:30px 30px 0px 0px;
        background: rgb(203,0,0);
        background: linear-gradient(135deg, rgba(203,0,0,1) 0%, rgba(255,206,0,1) 100%);    
        width:100%;
        flex:1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #top-form-image-div{
           margin-top:2rem;
           flex:1;
           img#no-pic{
               width:150px;
               height: 150px;
               margin-left:10%;
           }
           img#pic{
               width:150px;
               height: 150px;
               border-radius: 50%;
               object-fit: cover;
           }
        }
        p{
            flex:1;
            margin-top:2rem;
            margin-bottom:1rem;
            color:#fff;
        }
    }
    div#lower-form-div{
        padding-top:3rem;
        width:100%;
        flex:1;
        border-radius:0px 0px 30px 30px;
        form{
            div{
                input{
                    margin-bottom:2rem;
            
                }
                input.effect-input{
                    width:100%;
                    height: 1.5rem;
                    border:0px;
                    border-bottom:2px solid black;
                    transition: .5s ease-in-out;
                    &:focus{
                        outline:none;
                        border-bottom:2px solid rgb(203,0,0);
                    }
                }
               
                
            }
            div.control-div{
                width:80%;
                margin-left:10%;
                input[type=file]{
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                    margin-bottom:1rem;
                }
                .file-label{
                    font-size: 1em;
                    color: white;
                    background-color: rgb(203,0,0);
                    width:10rem;
                    padding:.5rem;
                    text-align: center;
                    i{
                        margin-right:.5rem;
                    }
                }
            }
            div#submit-button-div{
                margin-bottom:1rem;
                text-align:center;
                button{
                    width:100%;
                    padding:.5rem;
                    border:none;
                    background-color:rgb(203,0,0);
                    color:#fff;
                    border-radius:30px;    
                }
            }
           div#forgot-pass-div{
               margin-bottom:2rem;
               text-align:center;
               a{
                   &:hover{
                       text-decoration: none;
                       color:rgb(203,0,0);
                   }
               }
           }
           div#sign-up-div{
                margin-bottom:1rem;
                text-align:center;
                a{
                    &:hover{
                        text-decoration: none;
                        color:rgb(203,0,0);
                    }
                }
            }
            div.option-div{
                margin-bottom:3rem;
                label{
                    margin-bottom:1rem;

                }
                div{
                   text-align: center;
                    width:50%;
                    float:left;
                }
            }
        }
    }
}
#edit-event-image{
    width:100%;
}
