/* Commentaar edit form*/
div#comment-edit-form{
    width:60%;
    margin:5rem auto;
    @media screen and (max-width: 800px    ) {
        width:95%;

     }
    button#commenteditsubmit{
        width:200px;
        height: 40px;
        border:1px solid rgb(203,0,0);
        color:rgb(203,0,0);
        background: linear-gradient(to right, rgb(203,0,0) 50%, rgba(0,0,0,0) 50%);
        background-size: 300% 100%;
        background-position: right ;
        transition: all .6s ease-in-out;
        &:hover{
            color:#fff;
            background-position: left ;
            text-decoration: none;
        }
        &:focus{
            outline:none;
        }
    }
}
div#prev-page-div{
    a{
        color: #fff;
        padding:.5rem;
        background-color: rgb(203,0,0);
        width: 100px;
        display:block;
        text-align:center;
        text-decoration: none;
    }
}
