

header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    @media screen and (max-width: 800px    ) {

    }
    //Searchbar opmaak
    div.search-bar-result-div{
        width:90%;
        margin-left:5%;
        margin-top:1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }div#tutorials-results{
        div#tutorials-results-content-div{
            a{
                width:75%;
                color:#000;
                &:hover{
                    text-decoration:none;
                }
                div.tutorials-results-item{
                    display: flex;
                    justify-content:stretch;
                    align-items: stretch;
                    padding-top:1rem;
                    padding-bottom:1rem;
                    &:hover{
                        background-color:rgb(229, 228, 228);
                    }
                    i{
                        flex:1;
                        margin-left:5%;
                        font-size:2rem;
                    }
                    p{
                        flex:3;
                        margin-left:5%;
                    }
                }
            }             
        }
    } 
    div#threads-results{
        div#threads-results-content-div{
            a{
                width:75%;
                color:#000;
                &:hover{
                    text-decoration:none;
                }
                div.threads-results-item{
                    display: flex;
                    justify-content:stretch;
                    align-items: stretch;
                    padding-top:1rem;
                    padding-bottom:1rem;
                    &:hover{
                        background-color:rgb(229, 228, 228);
                    }
                    i{
                        flex:1;
                        margin-left:5%;
                        font-size:2rem;
                    }
                    p{
                        flex:3;
                        margin-left:5%;
                    }
                }
            }             
        }
    }
    div#courses-results{
        div#courses-results-content-div{
            a{
                width:75%;
                color:#000;
                &:hover{
                    text-decoration:none;
                }
                div.courses-results-item{
                    display: flex;
                    justify-content:stretch;
                    align-items: stretch;
                    padding-top:1rem;
                    padding-bottom:1rem;
                    &:hover{
                        background-color:rgb(229, 228, 228);
                    }
                    i{
                        flex:1;
                        margin-left:5%;
                        font-size:2rem;
                    }
                    p{
                        flex:3;
                        margin-left:5%;
                    }
                }
            }             
        }
    }
    div#events-results{
        div#events-results-content-div{
            a{
                width:75%;
                color:#000;
                &:hover{
                    text-decoration:none;
                }
                div.events-results-item{
                    display: flex;
                    justify-content:stretch;
                    align-items: stretch;
                    padding-top:1rem;
                    padding-bottom:1rem;
                    &:hover{
                        background-color:rgb(229, 228, 228);
                    }
                    i{
                        flex:1;
                        margin-left:5%;
                        font-size:2rem;
                    }
                    p{
                        flex:3;
                        margin-left:5%;
                    }
                }
            }             
        }
    }
    div#articles-results{
        div#articles-results-content-div{
            a{
                width:75%;
                color:#000;
                &:hover{
                    text-decoration:none;
                }
                div.articles-results-item{
                    display: flex;
                    justify-content:stretch;
                    align-items: stretch;
                    padding-top:1rem;
                    padding-bottom:1rem;
                    &:hover{
                        background-color:rgb(229, 228, 228);
                    }
                    i{
                        flex:1;
                        margin-left:5%;
                        font-size:2rem;
                    }
                    p{
                        flex:3;
                        margin-left:5%;
                    }
                }
            }             
        }
    }
    div#users-results{
        div#users-results-content-div{
            a{
                width:75%;
                color:#000;
                &:hover{
                    text-decoration:none;
                }
                div.users-results-item{
                    display: flex;
                    justify-content:stretch;
                    align-items: stretch;
                    padding-top:1rem;
                    padding-bottom:1rem;
                    &:hover{
                        background-color:rgb(229, 228, 228);
                    }
                    i{
                        flex:1;
                        margin-left:5%;
                        font-size:2rem;
                    }
                    div#user-info{
                        flex:3;
                        margin-left:5%;
                    }
                }
            }             
        }
    }
    div#no-results{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        margin-top:1rem;
        font-size:2em;
        text-align:center;
        color:lightgray;
    }
    //Blackout opmaak
    div#headerblackout-big, div#headerblackout-small{
        background-color: rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        position: absolute;
        z-index:3;
        display: none;
    }
    //Grote header opmaak
    #header-content-big{
        width:100%;
        margin:0px auto;
        
        @media screen and (max-width: 1000px    ) {
            display: none;
        }
        #header-top-div{
            background-color: #222;
            box-sizing: border-box;
            padding:20px 0px;
            display:flex;
            justify-content: center;
            align-items: center;
            div#header-logo{
                margin-left:50px;
                flex:1;
                a{
                    img{
                        min-width:125px;
                        margin-top:20px;
                    }
                }
                
            }
            div#searchbar{  
                flex:3;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
              
                div.header-search-results-big{
                    background-color: #fff;
                    width:90%;
                    top:110%;
                    margin-left:5%;
                    height: 300px;
                    position: absolute;
                    z-index:4;
                    display: none;
                    overflow-y: auto;
                }
                input{
                    width:90%;
                    margin-left:5%;
                    border-radius: 50px;
                    border: none;
                    height: 50px;
                    padding-left:30px;
                    position: relative;
                    z-index:4;
                    outline: none;
                }
            }
            div#links{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-right:70px;
                width:100%;

                a{
                    text-decoration:none;
                    color:#fff;
                }
                p{
                    text-align: right;
                    margin-right: 30px;
                    font-size:12px;
                    color:#fff;
                    span{  
                        font-weight: bold;
                    }
                }
                div.dropdown {
                    position: relative;
                    display: inline-block;
                    &:hover > .dropdown-content {
                        display: block;
                    }
                    button.dropbtn{
                        background:none;
                        color: white;
                        border: none;
                        &:focus{
                            outline:none;
                        }
                        img{
                            width:50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        i{
                            font-size:2em;
                        }
                    }
                    div.dropdown-content {
                        background-color: #fff;
                        display: none;
                        position: absolute;
                        right:0;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            &:hover {
                                background-color: #ddd;
                            }
                          }
                      }
                }
            }
        }
        #header-lower-div{
            background-color: rgb(203,0,0);
            #header-lower-div-content{
                display:flex;
                width:100%;
                padding:2rem 0rem;
                
                div#auth-functions{
                    flex:4;
                    display: flex;
                    margin-left:55px;
                    a{
                        color:#fff;
                        text-align: center;
                        text-decoration: none;
                    }
                    a+a{
                        margin-left:40px;
                    }
                }
                div#dropdown-links{
                    flex:1;
                    margin-right:70px;
                    text-align:right;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    div + div{
                        margin-left:30px;
                    }
                    div.dropdown {
                        position: relative;
                        &:hover > .dropdown-content {
                            display: block;
                        }
                        button.dropbtn{
                            background:none;
                            color: white;
                            border: none;
                            &:focus{
                                outline:none;
                            }
                            i{
                                font-size:1em;
                                margin-left: 2px;
                            }
                        }
                        div.dropdown-content {
                            background-color: #fff;
                            display: none;
                            position: absolute;
                            right:0;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                            a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                                &:hover {
                                    background-color: #ddd;
                                }
                              }
                          }
                    }
                }
            }
        }
    }
    /* SMALL HEADER*/
    #header-content-small{
        display: none;
        @media screen and (max-width: 1000px    ) {
            display: block;
        }
        #header-top-div{
            display: flex;
            color:#222;
            padding:20px 0px;
            div#header-logo{
                flex:1;
                display: flex;
                align-items: center;
                margin-left:30px;
                button{
                    background:none;
                    border:none;
                    font-size:2em;
                    &:focus{
                        outline: none;
                    }
                }
                a{
                   margin-left:20px;
                    img{
                        max-width:200px;
                        width:100%;
                        margin-top:20px;
                    }
                }
                
            }
            div#links{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width:100%;
                margin-right:30px;
                a{
                    text-decoration:none;
                    color:#222;
                }
                p{
                    text-align: right;
                    margin-right: 30px;
                    margin-top:15px;
                    font-size:12px;
                    color:#222;    
                    span{  
                        font-weight: bold;
                    }
                    @media screen and (max-width: 600px    ) {
                        display: none;
                    }
                }
                div.dropdown {
                    position: relative;
                    display: inline-block;
                    &:hover > .dropdown-content {
                        display: block;
                    }
                    button.dropbtn{
                        background-color: #fff;
                        color: #222;
                        padding: 16px;
                        border: none;
                        &:focus{
                            outline:none;
                        }
                        img{
                            width:50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        i{
                            font-size:2em;
                        }
                    }
                    div.dropdown-content {
                        display: none;
                        position: absolute;
                        right:0;
                        background-color: #fff;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            &:hover {
                                background-color: #ddd;
                            }
                          }
                      }
                }
                
            }
        }
        
        #header-lower-div{
            background-color: #222;
            padding:20px 0px;
            div#searchbar{  
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                input{
                    width: 90%;
                    height: 50px;
                    border-radius: 20px;
                    padding-left:30px;
                    
                    &:focus{
                        outline: none;
                        position: relative;
                        z-index:4;
                    }
                }
                div.header-search-results-small{
                    background-color: #fff;
                    width:90%;
                    top:110%;
                    height: 300px;
                    position: absolute;
                    z-index:4;
                    display: none;
                    overflow-y: auto;

                }
            }
           

        }
    }
    /*SMALL HEADER MENU*/
    #small-menu-blackout{
        display:none;
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    #small-header-menu{
        position: fixed;
        z-index:1;
        width:0;
        height: 100%;
        top:0;
        left:0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #fff;
        div#close-menu-div{
            text-align:right;
            padding:1rem;
            button#close-small-header-menu{
                background:none;
                border:none;
                font-size:1.5em;
                transition: 0.30s;
                &:focus{
                    outline:none;
                }
                &:hover{
                    transition: 0.30s;
                    -webkit-transition: 0.30s;
                    -moz-transition: 0.30s;
                    -ms-transition: 0.30s;
                    -o-transition: 0.30s;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);

                }
            }
        }
        ul{
            list-style-type: none;
            width:80%;
            margin-left:10%;
            li{
                h2{
                    position: relative; 
                    margin:1rem 0rem;
                }
                a{
                    text-decoration: none;
                    color:rgb(203,0,0);
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        height: 1px;
                        bottom: -4px; 
                        left: 0;
                        right: 0;
                        width: 0%;
                        background: rgb(203,0,0);
                        -o-transition:.5s;
                        -ms-transition:.5s;
                        -moz-transition:.5s;
                        -webkit-transition:.5s;
                        transition: .5s;
                    }
                    &:hover:after{
                        width: 20px;
                        transition: .5s;

                    }
                }
            }
            li.menu-link{
                margin-left:30px;
                margin-top:15px;
            }
        }
    }
}
